/* Home component CSS */
.navbar {
    background-color: #f2f2f2;
    padding: 10px;
  }
  
  .navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  .navbar li {
    display: inline;
    margin-right: 10px;
    color: darkblue;
  }
  
  .navbar li a {
    text-decoration: none;
    color: darkblue;
  }
  
  .navbar li a:hover {
    text-decoration: underline;
  }
  