div {
    max-width: 450px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  h2 {
    text-align: center;
    margin-bottom: 20px;
  }
  
  p {
    margin-bottom: 10px;
  }
  
  strong {
    font-weight: bold;
  }
  
  button {
    display: inline-block;
    margin: 0 25px;
    padding: 10px 20px;
    background-color: #4CAF50;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 20px;
  }
  
  button[disabled] {
    background-color: #ccc;
    cursor: not-allowed;
  }
  
  button.accepted {
    background-color: green;
  }
  
  button.rejected {
    background-color: red;
  }
  